////------About Section
#about-section {
    // di
}

#projects-h1 {
    display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: center;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    margin: 0 1rem 0 0;
    font-size: 4.5rem;
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: $primaryBackgroundColor;
    background: $primaryColor1;
    letter-spacing: 1rem;
    height: 142rem;
}





////ul for my skills
.my-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.my-skills-li {
    padding: 1rem;
}

.education-container {
    margin: 1rem 0;
    line-height: 2rem;
}

.ed-h1 {
    font-size: 1rem;
    letter-spacing: 5px;
    text-align: center;
    background: $primaryColor1;
    color: $primaryBackgroundColor;
    border-radius: 5px;
    margin-top: 1rem;
}

.ed-h2 {
    font-size: 1rem;
    font-weight: 600;
    font-family: $primaryFont;
    font-style: italic;
    color: $secondaryColor2;
    text-align: center;
}

.ed-h3 {
    font-size: 1rem;
    font-weight: 300;
    font-family: $primaryFont;
    color: $secondaryColor2;
    text-align: center;
}

.bootcamp-container,
.formal-education-container {
    border-bottom: 2px $secondaryColor2 dotted;
    border-top: 2px $secondaryColor2 dotted;
    margin: 3rem 0;
}

////Desktop View Sections
@media (min-width:768px){
    .my-skills {
        display: flex;
        flex-direction: row;
        width: 12rem;
    }
}