////------Skills Section
////ul for my skills
.coding-skills-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.my-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.my-skills-li {
    padding: 1rem;
}

.education-container {
    margin: 1rem 0;
    line-height: 2rem;
}

.ed-h1 {
    font-size: 1rem;
    letter-spacing: 5px;
    text-align: center;
    background: $primaryColor1;
    color: $primaryBackgroundColor;
    border-radius: 5px;
    margin-top: 1rem;
}

.ed-h2 {
    font-size: 1rem;
    font-weight: 600;
    font-family: $primaryFont;
    font-style: italic;
    color: $secondaryColor2;
    text-align: center;
}

.ed-h3 {
    font-size: 1rem;
    font-weight: 300;
    font-family: $primaryFont;
    color: $secondaryColor2;
    text-align: center;
}

.bootcamp-container,
.formal-education-container {
    border-bottom: 2px $secondaryColor2 dotted;
    border-top: 2px $secondaryColor2 dotted;
    margin: 3rem 0;
}

////Desktop View Sections
@media (min-width:768px){
    .my-skills {
        display: flex;
        flex-direction: row;
        width: 12rem;
    }
}

////------About Section
@media(min-width:1500px){
   #about-and-skills-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: solid 2px black;
    padding: 1rem;
    width: 100%;
    }

    .about-p-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem;
        margin: 2rem;
        width: 80%;
        background: $secondaryBackgroundColor;
        border-radius: 5px;
        box-shadow: 5px 5px 5px gray;
    }

    .about-p {
        background: $primaryBackgroundColor;
        color: $secondaryColor2;
        padding: 1rem;
        margin: 1rem;
        border: 1px solid $secondaryColor2;
        border-radius: 5px;
    }

    #about-h1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        font-size: 3.5rem;
        color: $primaryBackgroundColor;
        background: #171C28;
        letter-spacing: 1rem;
        // width: 100%;
    }
}