$primaryBackgroundColor: #d3d6db;
$primaryFontColor: #171C28;
$secondaryFontColor: #fca311;
$headingFont:'Archivo Black', sans-serif;
$primaryFont: 'Cousine', monospace;

* {
    padding:0;
    margin: 0;
}

body {
   font-family: $primaryFont;
    color: $primaryFontColor;
    background: $primaryBackgroundColor;
}

main {
    padding: 3rem 1.2rem 1.2rem 1.2rem;
}

ul {
    list-style: none;
}

a {
    color: $primaryFontColor;
    text-decoration: none;
}

a:hover {
   color:$secondaryFontColor;
}

section {
    padding-top:1rem ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1, h2, h3, h4, h5 {
    text-transform: uppercase;
    font-family: $headingFont;
}