.projects-heading {
    font-size: 1rem;
    margin: 1rem;
    padding: .2rem;
    background:  $secondaryFontColor;
}

.project-figure {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: end;
     padding-top: 1rem;
}

.see-more-a {
    font-size: 1rem;
    padding-top: .8rem;
    font-style: italic;
}

.project-img {
    width: 23rem;
}

.view-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: .5rem;
}

.see-project-button {
    border-radius: 5px;
    background-color:$secondaryFontColor2;
    font-size: 1.2rem;
    padding: .2rem;
    margin: 1rem;
}

.see-project-a {
    color: $secondaryFontColor;
}

.project-caption {
    padding: 2rem 1rem 0 1rem;
}

////Desktop View
@media(min-width:768px){
    .see-project-button {
        display:none;
    }

    // .see-project-button:hover {

        //     transform: scale(1.2);
        //     transition: all .3s ease-in-out
        // }
}