.projects-heading {
    font-size: 1rem;
    margin: 2rem;
    padding: 1rem;
    border-radius: 5px;
    background:  $primaryColor1;
    color: $primaryBackgroundColor;
    letter-spacing: 5px;
    text-align: center;
}

.project-figure {
    display: flex;
    align-items: center;
    flex-direction: column;
     justify-content: flex-end;
    padding: 1rem;
    margin: 1rem;
    // border: solid 2px $secondaryColor2;
}

.see-more-h3 {
    padding: 1.5rem 0;
    // border-bottom: 2px solid $primaryColor1;
}

.see-more-a {
    font-size: 1rem;
    padding: 1.2rem;
    font-style: italic;
}

.see-more-h3:hover {
    transform: scale(1.5);
    transition: all .5s ease-in;
}

.project-img {
    width: 23rem;
}

.view-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: .5rem;
    width: 100%;
}

.see-project-button {
    border-radius: 5px;
    background-color:$secondaryColor2;
    font-size: 1.3rem;
    padding: .5rem 1rem;
    margin: 1rem;
}

.see-project-a {
    color: $secondaryColor1;
}

.project-caption {
    margin: 2rem 1rem;
    padding: 1rem;
    border: solid 2px $secondaryColor2;
    border-radius: 5px;
}

////Desktop View
@media(min-width:768px){
    .see-project-button {
        display:none;
    }

    // .see-project-button:hover {

        //     transform: scale(1.2);
        //     transition: all .3s ease-in-out
        // }
}