/* ******************************************
 *******************************************
 *
 *
 *
 * This document contains all the
 * styling for the game.
 *
 *
 /*******************************************
 *******************************************
 *
 *
 * 00. common & reset css
 * 01. landing-section
 * 02. projects & about
 * 03. Skills & education
 * 04. contact
 * 05. about & Skills
 *---nav and side contacts in other style sheets
/*****************************
 *   00. common & reset css
 *****************************
 background-color: #DFDBE5;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='24' viewBox='0 0 88 24'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='autumn' fill='%23495867' fill-opacity='0.4'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
 *
 */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  background: #d3d6db;
  height: 3rem;
  width: 100vw;
  z-index: 20;
}

.box-shadow-toggle {
  -webkit-box-shadow: 1px 1px 5px gray;
          box-shadow: 1px 1px 5px gray;
}

.hamburger-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  z-index: 20;
  border: none;
}

.hamburger {
  text-align: right;
  display: block;
  margin: 0rem 2rem;
  z-index: 20;
  background: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 20px;
  height: 22px;
}

.line {
  width: 15px;
  height: 3px;
  background: #495867;
  margin: 3px;
}

.nav-menu {
  position: absolute;
  background: #d3d6db;
  display: none;
  margin-top: 3.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  -webkit-box-shadow: 0 4px 2px -1px gray;
          box-shadow: 0 4px 2px -1px gray;
  z-index: 25;
}

#nav-links {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  margin-top: 80px;
  height: 0;
  width: 100%;
}

.nav-li {
  padding: 0.5rem;
  margin-left: 1rem;
}

.nav-li-a {
  border-bottom: #495867 dashed 2px;
  font-weight: 800;
  font-size: 1.2rem;
  color: #171c28;
}

.home-logo-a {
  color: #495867;
  margin: 1rem 2rem;
  text-decoration: none;
}

.home-logo-a:hover {
  background: none;
  color: #1b1b1b;
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
  .home-logo-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
  }
  .home-logo-a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #495867;
  }
  .nav-menu {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin: 0;
  }
  #nav-ul {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
    height: 3rem;
    text-transform: uppercase;
  }
  .nav-li-a {
    display: inline-block;
    position: relative;
    border: none;
    color: #495867;
  }
  .nav-li-a:hover {
    color: #171c28;
  }
  .hover::before {
    content: "";
    position: absolute;
    width: 100%;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0px;
    background: #fca311;
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
    -webkit-transition: -webkit-transform 0.25s ease-out;
    transition: -webkit-transform 0.25s ease-out;
    transition: transform 0.25s ease-out;
    transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
    padding-bottom: 2px;
    margin-bottom: 0px;
  }
  .hover:hover::before {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
  }
}

.skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.my-skills-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.my-skills-li {
  padding: 1rem;
}

.education-container {
  margin: 1rem 0;
  line-height: 2rem;
}

.ed-h1 {
  font-size: 1rem;
  letter-spacing: 5px;
  text-align: center;
  background: #171c28;
  color: #d3d6db;
  border-radius: 5px;
  margin-top: 1rem;
  width: 80%;
}

.ed-h2 {
  font-size: 1rem;
  font-weight: 600;
  font-family: "Cousine", monospace;
  font-style: italic;
  color: #495867;
  text-align: center;
}

.ed-h3 {
  font-size: 1rem;
  font-weight: 300;
  font-family: "Cousine", monospace;
  color: #495867;
  text-align: center;
}

.bootcamp-container,
.formal-education-container {
  border-bottom: 2px #495867 dotted;
  border-top: 2px #495867 dotted;
  margin: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-p {
  margin: 2rem;
  padding: 2rem;
  text-align: left;
  line-height: 1.5rem;
  border: 2px solid #323d55;
  border-radius: 5px;
}

.about-p-container {
  text-align: center;
}

.below {
  color: #323d55;
}

@media (min-width: 768px) {
  #about-and-skills-section {
    padding: 4rem 0;
  }
  .below {
    text-align: center;
    color: #d3d6db;
  }
  #skills-and-education-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 4rem 0;
  }
  .skills-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #323d55;
    background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%23495867' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 5px gray;
            box-shadow: 5px 5px 5px gray;
    margin: 2rem;
    width: 20rem;
  }
  #skills-h1 {
    color: #d3d6db;
    background: #171c28;
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 2.5rem;
  }
  .my-skills-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
    color: #d3d6db;
  }
  .education-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #323d55;
    background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%23495867' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 5px gray;
            box-shadow: 5px 5px 5px gray;
    margin: 2rem;
  }
  #education-h1 {
    margin: 1rem;
    color: #d3d6db;
    background: #171c28;
    font-size: 2.5rem;
  }
  .bootcamp-container,
  .formal-education-container {
    margin: 2rem;
  }
  .ed-h1, .ed-h2, .ed-h3 {
    color: #d3d6db;
  }
  .about-p-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2rem;
    margin: 2rem;
    width: 80%;
    background: #323d55;
    background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%23495867' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 5px gray;
            box-shadow: 5px 5px 5px gray;
  }
  .about-p {
    background: #d3d6db;
    color: #495867;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #495867;
    border-radius: 5px;
    font-size: 1.2rem;
    line-height: 2rem;
  }
}

@media (min-width: 1500px) {
  #about-and-skills-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  #about-h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem;
    font-size: 3.5rem;
    color: #d3d6db;
    background: #171C28;
    letter-spacing: 1rem;
  }
}

#contact-section {
  border: 2px solid #fca311;
  border-radius: 5px;
  background: #323d55;
  background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%23495867' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

@media (min-width: 7680px) {
  #contact-section {
    padding: 4rem 0;
  }
}

.contact-heading, label {
  color: #d3d6db;
}

.contact-heading {
  padding: 2rem;
}

#contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-box {
  padding: 1.5rem 2.5rem;
  margin: 1rem;
  width: 15rem;
  border: 2px solid #495867;
  border-radius: 5px;
}

label {
  font-family: "Archivo Black", sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.contact-form-btn {
  border-radius: 5px;
  border: 1px solid #fca311;
  background-color: #495867;
  color: #d3d6db;
  font-size: 1.3rem;
  padding: .5rem 1rem;
  margin: 1rem;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer-contact-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-li {
  padding: 1rem;
}

.footer-fab {
  color: #495867;
  font-size: 2rem;
}

.bottom-email {
  text-align: center;
  font-weight: 200;
}

#designed-by {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #495867;
  font-size: .8rem;
  padding: 1rem;
}

#side-contact-container,
#side-email-pos-right {
  display: none;
}

@media (min-width: 1060px) {
  footer, .bottom-email {
    display: none;
  }
  .side-fab {
    color: #495867;
    font-size: 1.5rem;
    margin: 2rem 0;
  }
  #side-contact-container {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    z-index: 10;
    height: 100vh;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    text-orientation: upright;
  }
  #side-contact-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    margin: 0px;
    padding: 0 3rem;
  }
  #side-contact-ul:after {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    content: "";
    border-bottom: #495867 solid 90px;
    border-radius: 25px;
    width: 2px;
    padding: 0 0 0 .25px;
    margin: 0 .5rem;
  }
  #side-email-pos-right {
    position: absolute;
    right: 4rem;
    display: block;
  }
  #side-email-container {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    z-index: 10;
    height: 100vh;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    letter-spacing: normal;
  }
  .side-email {
    margin: 1rem 0;
  }
  .side-email a {
    color: #495867;
    font-weight: 200;
  }
  #side-email-container:after {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    content: "";
    border-bottom: #495867 solid 90px;
    border-radius: 25px;
    width: 1px;
    padding: 0 0 0 .25px;
    margin: 0 .4rem;
  }
  .side-email a:hover, .side-fab:hover {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    color: #171c28;
  }
}

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Cousine", monospace;
  color: #171c28;
  background: #d3d6db;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul {
  list-style: none;
}

a {
  color: #d3d6db;
  text-decoration: none;
}

button {
  -webkit-box-shadow: 0px 2px 8px #1b1b1b;
          box-shadow: 0px 2px 8px #1b1b1b;
}

a:hover,
button:hover {
  color: #fca311;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

section {
  padding: 2rem 0;
  margin: 4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #323d55;
}

.section-heading {
  padding: 1rem 0;
  text-align: center;
  border-radius: 5px;
}

.section-heading:before,
.section-heading:after {
  display: inline-block;
  content: "";
  border-top: #495867 solid 4px;
  width: 2.7rem;
  margin: 6px 1rem;
}

@media (min-width: 768px) {
  .section-heading:before,
  .section-heading:after {
    display: none;
  }
  .content-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 40rem;
  }
  .section-heading {
    padding: 1rem 2rem;
    text-align: center;
    font-size: 3.5rem;
  }
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
  font-family: "Archivo Black", sans-serif;
}

/*****************************
 *   01. landing-section
 *****************************
 *
 */
.landing-heading-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1rem 0;
  width: 100%;
}

.name-container {
  letter-spacing: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Archivo Black", sans-serif;
  width: 100%;
}

.last-name-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  letter-spacing: 1.2rem;
}

.name-middle {
  font-size: 1.5rem;
  text-transform: uppercase;
  padding-right: 5.9rem;
}

.name-last {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.name-middle-e {
  font-size: 1.5rem;
  text-transform: uppercase;
  padding-right: 5.9rem;
}

.dev-title-background {
  padding: 0.2rem;
  border: solid 2px #495867;
  border-radius: 5px;
  background: #323d55;
  color: #d3d6db;
}

.dev-title {
  font-size: 1.2rem;
  padding: 0.5rem;
  letter-spacing: normal;
  font-family: "Cousine", monospace;
  border: 2px solid #fca311;
  border-radius: 5px;
  text-transform: uppercase;
}

.c-border {
  padding: 0.4rem 0.6rem;
  letter-spacing: normal;
  border: 2px solid #fca311;
  border-radius: 5px;
}

.b-border {
  letter-spacing: normal;
  border: 2px solid #fca311;
  padding: 0.4rem 0.6rem;
  border-radius: 5px;
}

#landing-figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #323d55;
  background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%23495867' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  width: 80%;
  border-radius: 5px;
}

#slideshow-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overlay {
  width: 15rem;
  height: 18rem;
  border-radius: 2rem;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 1rem;
  background: #d3d6db4f;
  border: #171c28 2px solid;
  z-index: 5;
}

.overlay:hover {
  background: none;
  border: 2px solid #fca311;
  border-radius: 2rem;
  padding: 1.2rem 1.5;
}

.my-pics-imgs {
  position: relative;
  width: 15rem;
  border: 1px solid #495867;
  -webkit-box-shadow: 0px 2px 8px #1b1b1b;
          box-shadow: 0px 2px 8px #1b1b1b;
  border-radius: 2rem;
  margin: 1.5rem;
  z-index: 4;
}

.landing-p-container {
  text-align: center;
  color: #d3d6db;
}

.landing-p {
  padding: 2rem 1rem;
}

@media (min-width: 768px) {
  .name-middle {
    font-size: 3rem;
    padding-right: 7.5rem;
  }
  .name-last {
    font-size: 3rem;
  }
  .name-middle-e {
    font-size: 3rem;
    padding-right: 7.5rem;
  }
  .dev-title-background {
    padding: 0.2rem;
    border: solid 2px #495867;
    background: #323d55;
    color: #d3d6db;
  }
  .dev-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 2.8rem;
    padding: 1rem;
    letter-spacing: normal;
    font-family: "Cousine", monospace;
    border: 3px solid #fca311;
    text-transform: uppercase;
    width: 35rem;
  }
  .c-border {
    padding: 0.8rem 1rem;
    letter-spacing: normal;
    border: 3px solid #fca311;
    border-radius: 5px;
  }
  .b-border {
    letter-spacing: normal;
    border: 3px solid #fca311;
    padding: 0.8rem 1rem;
    border-radius: 5px;
  }
  #landing-section {
    padding: 4rem 0;
  }
  .landing-p-container {
    width: 70%;
    text-align: center;
  }
  .landing-p {
    text-align: center;
    font-size: 1.2rem;
    line-height: 2.5rem;
  }
  .landing-p {
    padding: 2rem 1rem;
    text-align: center;
  }
}

/*****************************
 *   02. projects & about
 *****************************
 *
 */
#projects-h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  background: none;
  color: #171c28;
  letter-spacing: 1rem;
  height: auto;
}

.projects-heading {
  font-size: 1rem;
  margin: 2rem;
  padding: 1rem;
  border-radius: 5px;
  background: #171c28;
  color: #d3d6db;
  letter-spacing: 5px;
  text-align: center;
}

.project-figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1rem;
  margin: 1rem;
}

.view-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
  width: 100%;
  color: #d3d6db;
}

.see-more-h3 {
  padding: 1.5rem 0;
  text-align: center;
}

.view-container i {
  color: #323d55;
  font-size: 1.5rem;
  padding: 1.2rem;
}

.see-more-a {
  color: #323d55;
}

.see-more-a:visited {
  color: #323d55;
}

.see-more-a:hover {
  color: #fca311;
}

.project-img {
  border: 1px solid #495867;
  border-radius: 5px;
  width: 23rem;
}

.see-project-button {
  border-radius: 5px;
  border: 1px solid #fca311;
  background-color: #495867;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  margin: 1rem;
}

.project-caption {
  margin: 2rem 1rem;
  padding: 1rem;
  border: solid 2px #495867;
  border-radius: 5px;
  width: 80%;
}

@media (min-width: 768px) {
  #projects-section {
    padding: 4rem 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .figure-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .projects-heading {
    font-size: 1.2rem;
    width: 25rem;
  }
  #projects-h1 {
    font-size: 2.5rem;
  }
  .project-caption {
    line-height: 1.5rem;
    font-size: 1.2rem;
  }
}

@media (min-width: 1500px) {
  .projects-h1-container {
    padding: 1rem;
  }
  #projects-h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 1rem;
    margin: 0 1rem 0 0;
    font-size: 3.5rem;
    color: #d3d6db;
    background: #171c28;
    letter-spacing: 1rem;
    height: 100%;
  }
  #all-projects-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .figure-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2rem 2rem 3rem 2rem;
    margin: 2rem;
    width: 80%;
    background: #323d55;
    background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%23495867' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 5px gray;
            box-shadow: 5px 5px 5px gray;
  }
  .projects-heading {
    background: none;
    color: #fca311;
    font-size: 1.5rem;
  }
  .project-figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    width: auto;
  }
  .project-img {
    border: 1px solid #495867;
    border-radius: 5px;
    width: 28rem;
  }
  .project-caption {
    color: #495867;
    border: 2px solid #495867;
    background: #d3d6db;
    padding: 2rem;
    margin: 1rem;
    width: auto;
    height: auto;
    line-height: 1.5rem;
  }
  .view-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
  }
  .view-container i {
    color: #d3d6db;
    font-size: 1.5rem;
    padding: 1.2rem;
  }
  .see-more-container {
    color: #323d55;
    text-align: center;
  }
}

@media (min-width: 1730px) {
  .project-figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 0 3rem 0;
    margin: 0;
    width: auto;
  }
}
/*# sourceMappingURL=style.css.map */