
////common css, resets, and colors
$primaryBackgroundColor: #d3d6db;
$primaryFontColor: #171C28;
$secondaryFontColor: #fca311;
$secondaryFontColor2: #495867;
$headingFont:'Archivo Black', sans-serif;
$primaryFont: 'Cousine', monospace;

////Imports for page sections
@import './nav';
@import './landing-section';
@import './projects-section';

* {
    padding:0;
    margin: 0;
}

body {
   font-family: $primaryFont;
    color: $primaryFontColor;
    background: $primaryBackgroundColor;
}

main {
    padding: 3rem 1.2rem 1.2rem 1.2rem;
}

ul {
    list-style: none;
}

a {
    color: $primaryFontColor;
    text-decoration: none;
}

a:hover {
    color:$secondaryFontColor;
    transform: scale(1.2);
    transition: all .3s ease-in-out
}

section {
    padding-top:1rem ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-heading:before,
.section-heading:after {
        display: inline-block;
        content: "";
        border-top:  $secondaryFontColor2 solid 4px;
        width: 3.8rem;
        margin: 6px 1rem ;
}
////Desktop View
@media(min-width:768px){
    .section-heading:before,
    .section-heading:after {
        display: inline-block;
        content: "";
        border-top:  $secondaryFontColor2 solid 4px;
        width: 5.7rem;
        margin: 6px 1rem ;
    }
}

h1, h2, h3, h4, h5 {
    text-transform: uppercase;
    font-family: $headingFont;
}










