* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Cousine", monospace;
  color: #171C28;
  background: #d3d6db;
}

main {
  padding: 3rem 1.2rem 1.2rem 1.2rem;
}

ul {
  list-style: none;
}

a {
  color: #171C28;
  text-decoration: none;
}

a:hover {
  color: #fca311;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

section {
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-heading:before,
.section-heading:after {
  display: inline-block;
  content: "";
  border-top: #495867 solid 4px;
  width: 3.8rem;
  margin: 6px 1rem;
}

@media (min-width: 768px) {
  .section-heading:before,
  .section-heading:after {
    display: inline-block;
    content: "";
    border-top: #495867 solid 4px;
    width: 5.7rem;
    margin: 6px 1rem;
  }
}

h1, h2, h3, h4, h5 {
  text-transform: uppercase;
  font-family: "Archivo Black", sans-serif;
}

header {
  position: fixed;
  background: #d3d6db;
  height: 3rem;
  width: 100%;
  z-index: 5;
}

.hamburger-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.hamburger {
  display: block;
  padding: 1rem 1.5rem;
  position: fixed;
  z-index: 10;
  background: none;
  border: none;
}

.line {
  width: 15px;
  height: 3px;
  background: #171C28;
  margin: 3px;
}

.nav-menu {
  background: #d3d6db;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#nav-links {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  margin-top: 80px;
  height: 0;
  width: 100%;
}

.nav-li {
  padding: .5rem;
}

.nav-li-a {
  border-bottom: #495867 dashed 2px;
  font-weight: 800;
  font-size: 1.2rem;
}

.home-logo-a {
  color: #fca311;
  padding: .5rem;
  text-decoration: none;
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
  .home-logo-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
  }
  .home-logo-a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #171C28;
  }
  .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .nav-li-a {
    border: none;
  }
  #nav-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
    height: 3rem;
    text-transform: uppercase;
  }
  #nav-links {
    display: inline;
    color: #171C28;
  }
  a.hover {
    display: inline-block;
    position: relative;
  }
  .hover::before {
    content: '';
    position: absolute;
    width: 100%;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0px;
    background: #495867;
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
    -webkit-transition: -webkit-transform 0.25s ease-out;
    transition: -webkit-transform 0.25s ease-out;
    transition: transform 0.25s ease-out;
    transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
    padding-bottom: 2px;
    margin-bottom: 0px;
  }
  .hover:hover::before {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
  }
}

.landing-heading-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1rem;
  width: 100%;
}

.name-container {
  letter-spacing: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Archivo Black", sans-serif;
  width: 100%;
}

.last-name-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  letter-spacing: 1.2rem;
}

.name-middle {
  font-size: 1.5rem;
  text-transform: uppercase;
  padding-right: 5.9rem;
}

.name-last {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.name-middle-e {
  font-size: 1.5rem;
  text-transform: uppercase;
  padding-right: 5.9rem;
}

.dev-title-background {
  padding: .2rem;
  border: dashed 2px #495867;
  border-radius: 5px;
  background: #fca311;
}

.dev-title {
  font-size: 1.2rem;
  padding: .5rem;
  letter-spacing: normal;
  font-family: "Cousine", monospace;
  border: 2px solid #fca311;
  border-radius: 5px;
  text-transform: uppercase;
}

.c-border {
  padding: .4rem .6rem;
  letter-spacing: normal;
  border: 2px solid #fca311;
  border-radius: 5px;
}

.b-border {
  letter-spacing: normal;
  border: 2px solid #fca311;
  padding: .4rem .6rem;
  border-radius: 5px;
}

.projects-heading {
  font-size: 1rem;
}

.project-figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-top: 1rem;
}

.see-more-a {
  font-size: 1rem;
  padding-top: .8rem;
  font-style: italic;
}

.project-img {
  width: 24rem;
}

@media (min-width: 768px) {
  .see-project {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */