header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  background: #d3d6db;
  height: 3rem;
  width: 100%;
  z-index: 20;
  -webkit-box-shadow: 1px 1px 5px gray;
          box-shadow: 1px 1px 5px gray;
}

.hamburger-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.hamburger {
  display: block;
  padding: 1rem 1.5rem;
  position: fixed;
  z-index: 10;
  background: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.line {
  width: 15px;
  height: 3px;
  background: #171C28;
  margin: 3px;
}

.nav-menu {
  background: #d3d6db;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#nav-links {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  margin-top: 80px;
  height: 0;
  width: 100%;
}

.nav-li {
  padding: .5rem;
}

.nav-li-a {
  border-bottom: #495867 dashed 2px;
  font-weight: 800;
  font-size: 1.2rem;
}

.home-logo-a {
  color: #171C28;
  padding: .5rem;
  text-decoration: none;
}

.home-log-a:hover {
  background: none;
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
  .home-logo-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
  }
  .home-logo-a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #171C28;
  }
  .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .nav-li-a {
    border: none;
  }
  #nav-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
    height: 3rem;
    text-transform: uppercase;
  }
  #nav-links {
    display: inline;
    color: #171C28;
  }
  a.hover {
    display: inline-block;
    position: relative;
  }
  .hover::before {
    content: '';
    position: absolute;
    width: 100%;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0px;
    background: #fca311;
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
    -webkit-transition: -webkit-transform 0.25s ease-out;
    transition: -webkit-transform 0.25s ease-out;
    transition: transform 0.25s ease-out;
    transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
    padding-bottom: 2px;
    margin-bottom: 0px;
  }
  .hover:hover::before {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
  }
}

.landing-heading-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1rem;
  width: 100%;
}

.name-container {
  letter-spacing: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Archivo Black", sans-serif;
  width: 100%;
}

.last-name-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  letter-spacing: 1.2rem;
}

.name-middle {
  font-size: 1.5rem;
  text-transform: uppercase;
  padding-right: 5.9rem;
}

.name-last {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.name-middle-e {
  font-size: 1.5rem;
  text-transform: uppercase;
  padding-right: 5.9rem;
}

.dev-title-background {
  padding: .2rem;
  border: solid 2px #495867;
  border-radius: 5px;
  background: #495867;
  color: #d3d6db;
}

.dev-title {
  font-size: 1.2rem;
  padding: .5rem;
  letter-spacing: normal;
  font-family: "Cousine", monospace;
  border: 2px solid #fca311;
  border-radius: 5px;
  text-transform: uppercase;
}

.c-border {
  padding: .4rem .6rem;
  letter-spacing: normal;
  border: 2px solid #fca311;
  border-radius: 5px;
}

.b-border {
  letter-spacing: normal;
  border: 2px solid #fca311;
  padding: .4rem .6rem;
  border-radius: 5px;
}

.landing-p {
  padding: 2rem 1rem;
}

.projects-heading {
  font-size: 1rem;
  margin: 2rem;
  padding: 1rem;
  border-radius: 5px;
  background: #171C28;
  color: #d3d6db;
  letter-spacing: 5px;
  text-align: center;
}

.project-figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1rem;
  margin: 1rem;
}

.see-more-h3 {
  padding: 1.5rem 0;
}

.see-more-a {
  font-size: 1rem;
  padding: 1.2rem;
  font-style: italic;
}

.see-more-h3:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

.project-img {
  width: 23rem;
}

.view-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5rem;
  width: 100%;
}

.see-project-button {
  border-radius: 5px;
  background-color: #495867;
  font-size: 1.3rem;
  padding: .5rem 1rem;
  margin: 1rem;
}

.see-project-a {
  color: #fca311;
}

.project-caption {
  margin: 2rem 1rem;
  padding: 1rem;
  border: solid 2px #495867;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .see-project-button {
    display: none;
  }
}

.my-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.my-skills-li {
  padding: 1rem;
}

.education-container {
  margin: 1rem 0;
  line-height: 2rem;
}

.ed-h1 {
  font-size: 1rem;
  letter-spacing: 5px;
  text-align: center;
  background: #171C28;
  color: #d3d6db;
  border-radius: 5px;
  margin-top: 1rem;
}

.ed-h2 {
  font-size: 1rem;
  font-weight: 600;
  font-family: "Cousine", monospace;
  font-style: italic;
  color: #495867;
  text-align: center;
}

.ed-h3 {
  font-size: 1rem;
  font-weight: 300;
  font-family: "Cousine", monospace;
  color: #495867;
  text-align: center;
}

.bootcamp-container,
.formal-education-container {
  border-bottom: 2px #495867 dotted;
  border-top: 2px #495867 dotted;
  margin: 3rem 0;
}

#contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-box {
  padding: 1.5rem 2.5rem;
  margin: 1rem;
  width: 15rem;
  border: 2px solid #495867;
  border-radius: 5px;
}

label {
  font-family: "Archivo Black", sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.contact-form-btn {
  border-radius: 5px;
  color: #fca311;
  background-color: #495867;
  font-size: 1.3rem;
  padding: .5rem 1rem;
  margin: 1rem;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer-contact-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-li {
  padding: 1rem;
}

.footer-fab {
  color: #495867;
  font-size: 2rem;
}

.bottom-email {
  text-align: center;
  font-weight: 200;
}

#designed-by {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #495867;
  font-size: .8rem;
  padding: 1rem;
}

#side-contact-container, #side-email-container {
  display: none;
}

@media (min-width: 768px) {
  footer, .bottom-email {
    display: none;
  }
  .side-fab {
    color: #495867;
    font-size: 1.2rem;
    margin: 1rem 0;
  }
  #side-contact-container {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    z-index: 10;
    height: 100vh;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    text-orientation: upright;
  }
  #side-contact-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    margin: 0px;
    padding: 0 3rem;
  }
  #side-contact-ul:after {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    content: "";
    border-bottom: #495867 solid 90px;
    border-radius: 25px;
    width: 1px;
    padding: 0 0 0 .25px;
    margin: 0 .4rem;
  }
  #side-email-pos-right {
    position: absolute;
    right: 4rem;
    display: block;
  }
  #side-email-container {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    z-index: 10;
    height: 100vh;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    letter-spacing: normal;
  }
  .side-email {
    margin: 1rem 0;
  }
  .side-email a {
    color: #495867;
    font-weight: 200;
  }
  #side-email-container:after {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    content: "";
    border-bottom: #495867 solid 90px;
    border-radius: 25px;
    width: 1px;
    padding: 0 0 0 .25px;
    margin: 0 .4rem;
  }
  .side-email a:hover, .side-fab:hover {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    color: #171C28;
  }
}

* {
  padding: 0;
  margin: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Cousine", monospace;
  color: #171C28;
  background: #d3d6db;
}

main {
  padding: 4rem 1.2rem 1.2rem 1.2rem;
}

@media (min-width: 768px) {
  main {
    padding: 4rem 15rem;
  }
}

ul {
  list-style: none;
}

button {
  -webkit-box-shadow: 0px 2px 8px  #1b1b1b;
          box-shadow: 0px 2px 8px  #1b1b1b;
}

.fa-github:before, .fa-github:after {
  color: #495867;
  font-size: 1.7rem;
}

a {
  color: #171C28;
  text-decoration: none;
}

a:hover {
  color: #fca311;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

section {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 3px solid #171C28;
}

.section-heading {
  padding: 1rem 0;
  text-align: center;
}

.section-heading:before,
.section-heading:after {
  display: inline-block;
  content: "";
  border-top: #495867 solid 4px;
  width: 2.7rem;
  margin: 6px 1rem;
}

@media (min-width: 768px) {
  .section-heading:before,
  .section-heading:after {
    display: inline-block;
    content: "";
    border-top: #495867 solid 4px;
    width: 5.7rem;
    margin: 6px 1rem;
  }
}

h1, h2, h3, h4, h5 {
  text-transform: uppercase;
  font-family: "Archivo Black", sans-serif;
}
/*# sourceMappingURL=style.css.map */