/* ******************************************
 *******************************************
 *
 *
 *
 * This document contains all the
 * styling for the game.
 *
 *
 /*******************************************
 *******************************************
 *
 *
 * 00. common & reset css
 * 01. landing-section
 * 02. projects & about
 * 03. Skills & education
 * 04. contact
 * 05. about & Skills
 *---nav and side contacts in other style sheets
/*****************************
 *   00. common & reset css
 *****************************
 *
 */
$primaryBackgroundColor: #d3d6db;
$secondaryBackgroundColor: #323d55;
$primaryColor1: #171C28;
$primaryColor2:#1b1b1b;
$secondaryColor1: #fca311;
$secondaryColor2: #495867;

$headingFont:'Archivo Black', sans-serif;
$primaryFont: 'Cousine', monospace;

////Imports for page sections
@import './nav';
@import './_about-and-my-skills-section';
@import './_contact-section-and-side-contact';

* {
    padding:0;
    margin: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}


body {
    font-family: $primaryFont;
    color: $primaryColor1;
    background: $primaryBackgroundColor;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 1.2rem 1.2rem 1.2rem;
}////Desktop View
@media (min-width:768px) {
    main {
        padding: 3rem 10rem;
    }
}////

ul {
    list-style: none;
}

a {
    color: $primaryBackgroundColor;
    text-decoration: none;
}

button {
    box-shadow: 0px 2px 8px $primaryColor2;
}

a:hover, button:hover {
    color:$secondaryColor1;
    transform: scale(1.2);
    transition: all .3s ease-in-out;
}

section {
    padding: 2rem 0;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-heading {
    padding: 1rem 0;
    text-align: center;
}

.section-heading:before,
.section-heading:after {
        display: inline-block;
        content: "";
        border-top:  $secondaryColor2 solid 4px;
        width: 2.7rem;
        margin: 6px 1rem ;
}

////Tablet View
@media(min-width:768px){

    section {
        border: none;
    }

    .content-container {
        display: flex;
        flex-direction: column;
        width: 40rem;
    }

    .section-heading {
        padding: 1rem 2rem;
        text-align: center;
        font-size: 3.5rem;
    }
}

////Desktop View
@media (min-width:1500px){
    .section-heading:before,
    .section-heading:after {
    display: none;
}
    // .section-heading-container {
    //      height: 40rem;
    // }

}

h1, h2, h3, h4, h5 {
    text-transform: uppercase;
    font-family: $headingFont;
}


/*****************************
 *   01. landing-section
 *****************************
 *
 */

 #slideshow-container {
     background: none;
 }

 .my-pics-imgs {
     position: relative;
     width: 15rem;
     border: 1px solid $secondaryColor2;
     box-shadow: 0px 2px 8px  $primaryColor2;
     border-radius: 2rem;
     margin: 1.5rem;
 }



 .landing-heading-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 1rem;
    width: 100%;
}

.name-container {
    letter-spacing: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $headingFont;
    width: 100%;
}

.last-name-container {
    display: flex;
    flex-direction: row;
    letter-spacing: 1.2rem;
}

.name-middle {
    font-size: 1.5rem;
    text-transform: uppercase;
    padding-right: 5.9rem;
}

.name-last {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.name-middle-e {
    font-size: 1.5rem;
    text-transform: uppercase;
    padding-right: 5.9rem;
}

.dev-title-background {
    padding: .2rem;
    border: solid 2px $secondaryColor2;
    border-radius: 5px;
    background: $secondaryColor2;
    color: $primaryBackgroundColor;
}

.dev-title {
    font-size: 1.2rem;
    padding: .5rem;
    letter-spacing: normal;
    font-family: $primaryFont;
    border: 2px solid $secondaryColor1;
    border-radius: 5px;
    text-transform: uppercase;
}

.c-border {
    padding: .4rem .6rem;
    letter-spacing: normal;
    border: 2px solid $secondaryColor1;
    border-radius: 5px;
}

.b-border {
    letter-spacing: normal;
    border: 2px solid $secondaryColor1;
    padding: .4rem .6rem;
    border-radius: 5px;
}

.landing-p {
    padding: 2rem 1rem;
}
//// Desktop and Tablet View
@media(min-width:768px){
    .name-middle {
        font-size: 3rem;
        padding-right: 7.5rem;
    }

    .name-last {
        font-size: 3rem;
    }

    .name-middle-e {
        font-size: 3rem;
        padding-right: 7.5rem;
    }

    .dev-title-background {
        padding: .2rem;
        border: solid 5px $secondaryColor2;
        background: $secondaryColor2;
        color: $primaryBackgroundColor;
    }

    .dev-title {
        display: flex;
        justify-content: center;
        font-size: 2.8rem;
        padding: 1rem;
        letter-spacing: normal;
        font-family: $primaryFont;
        border: 2px solid $secondaryColor1;
        border-radius: 5px;
        text-transform: uppercase;
        width: 35rem;
    }

    .c-border {
        padding: .8rem 1rem;
        letter-spacing: normal;
        border: 3px solid $secondaryColor1;
        border-radius: 5px;
    }

    .b-border {
        letter-spacing: normal;
        border: 3px solid $secondaryColor1;
        padding: .8rem 1rem;
        border-radius: 5px;
    }

    .landing-p {
        padding: 2rem 1rem;
    }
}



 /*****************************
 *   02. projects & about
 *****************************
 *
 */

#projects-h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
//    padding: 1rem;
    margin: 0 1rem 0 0;
    font-size: 1.5rem;
    background: none;
    color: $primaryColor1;
    letter-spacing: 1rem;
    height: auto;
}

.projects-heading {
    font-size: 1rem;
    margin: 2rem;
    padding: 1rem;
    border-radius: 5px;
    background:  $primaryColor1;
    color: $primaryBackgroundColor;
    letter-spacing: 5px;
    text-align: center;
}

.project-figure {
    display: flex;
    align-items: center;
    flex-direction: column;
     justify-content: flex-end;
    padding: 1rem;
    margin: 1rem;
    // border: solid 2px $secondaryColor2;
}

.view-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: .5rem;
    width: 100%;
    color: $primaryBackgroundColor;
}

.see-more-h3 {
    padding: 1.5rem 0;
    text-align: center;
}

.view-container i {
    color: $secondaryBackgroundColor;
    font-size: 1.5rem;
    padding: 1.2rem;
    color: $primaryBackgroundColor;
}

.see-more-a {
    color: $secondaryBackgroundColor;
}

.see-more-a:visited {
    color: $secondaryBackgroundColor;
}

.see-more-a:hover {
    color: $secondaryColor1;
}


.project-img {
    border: 1px solid $secondaryColor2;
    border-radius: 5px;
    width: 23rem;
}

.see-project-button {
    border-radius: 5px;
    border: 1px solid $secondaryColor1;
    background-color:$secondaryColor2;
    font-size: 1.3rem;
    padding: .5rem 1rem;
    margin: 1rem;
}

.project-caption {
    margin: 2rem 1rem;
    padding: 1rem;
    border: solid 2px $secondaryColor2;
    border-radius: 5px;
}




//////////////////////////////////////projects-section
////Desktop View

@media(min-width:1500px){

    .projects-h1-container {
        padding: 1rem;
    }

    #projects-h1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 1rem;
        margin: 0 1rem 0 0;
        font-size: 3.5rem;
        color: $primaryBackgroundColor;
        background: $primaryColor1;
        letter-spacing: 1rem;
        height: 100%;
    }

    #projects-section {
        padding: 0;
        margin: 0;
        border: solid 2px $secondaryBackgroundColor;
        display: flex;
        flex-direction: column;
    }

    #all-projects-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .figure-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        margin: 2rem;
        width: 80%;
        background: $secondaryBackgroundColor;
        border-radius: 5px;
        box-shadow: 5px 5px 5px gray;
    }

    .projects-heading {
        background: none;
        color: $secondaryColor1;
        font-size: 1.5rem;
    }

    .project-figure {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 0 3rem 0;
        margin: 0;
        width: auto;
    }

    .project-img {
        border: 1px solid $secondaryColor2;
        border-radius: 5px;
        width: 28rem;
    }

    .project-caption{
        color: $secondaryColor2;
        border: 2px solid $secondaryColor2;
        background: $primaryBackgroundColor;
        padding: 1rem;
        margin: 1rem;
        width: auto;
        height: auto;
        line-height: 1.5rem;
    }

    .view-container {
        display: flex;
        flex-direction: column;
        width: auto;
    }

    .fa-github{
        font-size: 1.7rem;
        color: $primaryBackgroundColor;
    }


    .see-more-container {
        color: $secondaryBackgroundColor;
        text-align: center;
    }

}

@media(min-width:1730px){
    .project-figure {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 0 3rem 0;
        margin: 0;
        width: auto;
    }
}


















